@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --mt-font-family: "Roboto", sans-serif;
  --mt-font-size: 18px;
  --mt-font-color: #0c0c0c;
  --mt-bg-color: #ffffff;
}

.mt-popup {
  font-family: var(--mt-font-family);
  font-size: var(--mt-font-size);
  color: var(--mt-font-color);
  background-color: var(--mt-bg-color);

  padding: 10px 20px;

  width: 300px;

  .mt-text-center {
    text-align: center;
  }

  .mt-text-justify {
    text-align: justify;
  }

  .mt-icon {
    width: 100px;
    height: 100px;
  }
  .mt-buymecoffee {
    height: 41px !important;
    width: 150px !important;
  }
}

.mt-modal-visible {
  display: block !important;
}

.mt-modal-hide {
  display: none !important;
}

/* The Modal (background) */
.mt-modal {
  font-family: var(--mt-font-family);
  font-size: var(--mt-font-size);
  color: var(--mt-font-color);

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .mt-modal-content {
    background-color: var(--mt-bg-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-size: 1rem;

    /* The Close Button */
    .mt-modal-content-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .mt-modal-content-close:hover,
    .mt-modal-content-close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .mt-modal-content-header {
      display: flex;
      align-items: center;
      gap: 20px;

      .mt-modal-content-header-title {
        font-size: 1.3rem;
        line-height: normal;
        margin-top: 5px;

        &.link {
          white-space: nowrap; /* Evita el desbordamiento de línea */
          overflow: hidden; /* Oculta el texto que no cabe */
          text-overflow: ellipsis; /* Muestra puntos suspensivos (...) al final del texto truncado */
        }
      }

      .mt-modal-content-header-subtitle {
        line-height: normal;
        margin-top: 5px;
        font-size: 0.6rem;
        text-transform: uppercase;
      }

      .mt-modal-content-header-logo {
        width: 100px;
        height: 100px;
      }
    }

    .mt-modal-content-main {
      padding-top: 20px;
      background-color: #f7f5f5;
    }

    .mt-modal-content-loading {
      padding: 50px;
      text-align: center;
      .mt-modal-content-loading-text {
        font-size: 0.9rem;
        font-style: italic;
      }
      .mt-modal-content-loading-loader {
        /* HTML: <div class="loader"></div> */
        .loader {
          width: 60px;
          aspect-ratio: 1;
          color: #000;
          border: 10px solid;
          box-sizing: border-box;
          border-radius: 50%;
          animation: l6 2s infinite linear;
          position: relative;
        }
        .loader:before {
          content: "";
          position: absolute;
          height: 20px;
          inset: auto calc(50% - 10px) 100%;
          border-radius: 5px 5px 0 0;
          background: linear-gradient(currentColor 0 0) top/100% 30%,
            linear-gradient(currentColor 0 0) top/50% 100%;
          background-repeat: no-repeat;
        }
        .loader:after {
          content: "";
          position: absolute;
          inset: -8px -10px auto;
          height: 15px;
          background: radial-gradient(farthest-side, currentColor 94%, #0000)
              left,
            radial-gradient(farthest-side, currentColor 94%, #0000) right;
          background-size: 15px 15px;
          background-repeat: no-repeat;
        }
        @keyframes l6 {
          0% {
            background: conic-gradient(#77a4bd 0, #0000 0);
          }
          12.5% {
            background: conic-gradient(#77a4bd 45deg, #0000 46deg);
          }
          25% {
            background: conic-gradient(#77a4bd 90deg, #0000 91deg);
          }
          37.5% {
            background: conic-gradient(#77a4bd 135deg, #0000 136deg);
          }
          50% {
            background: conic-gradient(#77a4bd 180deg, #0000 181deg);
          }
          62.5% {
            background: conic-gradient(#77a4bd 225deg, #0000 226deg);
          }
          75% {
            background: conic-gradient(#77a4bd 270deg, #0000 271deg);
          }
          87.5% {
            background: conic-gradient(#77a4bd 315deg, #0000 316deg);
          }
          100% {
            background: conic-gradient(#77a4bd 360deg, #0000 360deg);
          }
        }
      }
    }
  }
}
